:root {
    --green: #8dd340;
    --black: black;
    --white: white;
    --color-btn: #62b4e5;
    --dark-gray: #2e2d2d;
    --bg-color: #ebe8e89c;
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

p:last-child {
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    padding: 10px  15px;
    margin: 0 auto;
}


/* block-1 */
.common-block {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column-reverse;
}

.block-1-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.block-1-title {
    color: var(--green);
    font-size: 22px;
    line-height: 1.5;
    text-transform: uppercase;
}

.block-1-descr {
    font-size: 16px;
}

.block-1-btn {
    background-color: var(--color-btn);
    color: var(--white);
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 25px;
    margin: 0 auto;
}

.block-1-btn:hover, .block-1-btn:focus, .block-1-btn:active {
    background-color: var(--dark-gray);
    box-shadow: 2px 5px 10px 1px rgb(0 0 0 / 31%);
    transition: 1000ms;
}

/* block-2 */



/* media-запити */
@media screen and (min-width: 320px){
    .container {
        width: 320px;
    }
    .block-1-info {
        width: 290px;
        padding: 10px;
    }
    .block-1-btn {
        width: 225px;
        font-size: 14px;
    }
}

@media screen and (min-width: 768px){
    .container {
        width: 768px;
        padding: 10px 32px;
    }
    .common-block {
        flex-direction: row;
        justify-content: space-between;
        padding-left: 20px;
        padding-bottom: 5px;
    }
    .block-1-info {
        width: 340px;
        padding: 0;
    }
    .block-1-title {
        font-size: 24px;
    }
    .block-1-descr {
        width: 310px;
    }
    .block-1-btn {
        margin: 0;
    }
    .block-1-img {
        width: 340px;
        padding: 5px 0;
    }
}

@media screen and (min-width: 1280px){
    .container {
        width: 1280px;
        padding: 10px 52px;
    }
    .block-1-info {
        width: 540px;
        justify-content: space-evenly;
    }
    .block-1-title {
        font-size: 38px;
    }
    .block-1-descr {
        font-size: 22px;
        width: 525px;
    }
    .block-1-btn {
        font-size: 18px;
        padding: 15px;
        width: 270px;
    }
    .block-1-img {
        width: 590px;
    }
}